@charset "UTF-8";

body {
    background-color: lightskyblue;
    font-family: sans-serif;
    font-size: 20px;
}

h1 {
    color: maroon;
    background-color: darkgoldenrod;
}

h2 {
    color: darkgreen;
    text-align: justify;
}